<div class="modal fade" id="wechat-modal" tabindex="-1" role="dialog" aria-labelledby="wechat-modal-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 380px;">
        <div class="modal-content rounded-xl">
            <div class="modal-header">
                <h2 class="modal-title h5" id="wechat-modal-title">WeChat</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body text-center">
                <img src="{{ site.data.profile.wechat_qr | relative_url }}" class="img-fluid" alt="Scan this QR code in WeChat to add Shengwen Fu">
            </div>
        </div>
    </div>
</div>
